.tag {
	margin-bottom: 7px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left:3px;
	padding-right:3px;
	color:#fff;
	background:#77216F;
	height:1.4em;
	border-radius:2px;
	float:left;
}

#trackuploadbutton, #progressBar, #audioGlyph, #audioCancelGlyph, 
#imageUploadButton, #imageProgressBar, #imageGlyph, #imageCancelGlyph {
	visibility: hidden;
	margin-left: .2em;
}

.fileSelector {
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 3.2em;
	padding: .3em;
}

.upload {
	visibility: hidden;
}


/*PROGRESS BARS*/
/*IE*/
progress {  
    /* style rules */  
     background-color: #f3f3f3;  
    border: 0;  
    height: 18px;  
    border-radius: 9px;  
    color: purple; 
}  
/*chrome*/
progress::-webkit-progress-bar {  
    /* style rules */  
     background-color: #f3f3f3;  
    height: 18px;  
    border-radius: 9px;  
}  
progress::-webkit-progress-value {  
    /* style rules */  
    background: purple;
    height: 18px;  
    border-radius: 9px;  
}  
/*firefox*/
progress::-moz-progress-bar {  
    /* style rules */  
    background: purple;  
    height: 18px;  
    border-radius: 9px; 
}  